{% extends "layout.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-0">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th colspan="3" class="text-center">Action</th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
              <td>
                    <form method="post" action="{{ url_for('todo_completed', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                    </form>
                </td>
                  <td>
                    <form method="post" action="{{ url_for('todo_not_completed', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-minus glyphicon-white"></span></button>
                    </form>
                </td>

            <td>
	            
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}